.container {
  margin-top: 50px;
}

.btn {
  background: blueviolet;
}

.generate {
  background: greenyellow;
  color: rgba(0, 0, 0, 0.671);
}

.memeCounterDiv {
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.memeCount {
  color: yellow;
  margin-left: .5rem;
}